@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Megrim&family=Poor+Story&family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

.size {
  height: 30px;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 36, 36);
}

header h1 {
  font-size: 60px;
  font-family: "Megrim", cursive;
  font-weight: bolder;
  text-align: center;
  color: rgb(237, 237, 237);
}

main .big-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

main .big-container .option-sketch-container {
  display: flex;
  gap: 100px;
  margin-top: 20px;
  height: 450px;
  width: 800px;
}

main .big-container .option-sketch-container .option-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 10px;
}

main .big-container .option-sketch-container .option-container .option {
  display: flex;
  justify-content: center;
}

main .big-container .option-sketch-container .option-container .option #colorpicker {
  -webkit-appearance: none;
  width: 30px;
  height: 25px;
}

main .big-container .option-sketch-container .option-container .option #colorpicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

main .big-container .option-sketch-container .option-container .option #colorpicker::-webkit-color-swatch {
  border: none;
}

main .big-container .option-sketch-container .option-container .option button {
  border-radius: 3px;
  width: 100%;
  height: 50px;
  background-color: rgb(32, 120, 198);
  border: none;
  transition: 0.15s;
  color: white;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

main .big-container .option-sketch-container .option-container .option button:hover {
  cursor: pointer;
}

main .big-container .option-sketch-container .option-container .option #eraser:hover,
main .big-container .option-sketch-container .option-container .option #grid:hover,
main .big-container .option-sketch-container .option-container .option #color:hover {
  color: black;
}

main .big-container .option-sketch-container .option-container .option button:active {
  opacity: 0.9;
}

main .big-container .option-sketch-container .option-container .grid-option {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .big-container .option-sketch-container .option-container .grid-option p {
  font-family: "Poor Story", cursive;
  font-size: 20px;
}

main .big-container .option-sketch-container .option-container .slider {
  width: 115px;
}

main .big-container .option-sketch-container .option-container .color-option {
  display: none;
  flex-direction: column;
  gap: 3px;
}

main .big-container .option-sketch-container .option-container .color-option .co {
  padding: 3px;
  display: flex;
  justify-content: center;
  background-color: rgb(202, 202, 202);
  color: black;
  font-size: 18px;
  font-family: "Poor Story", sans-serif;
}

main .big-container .option-sketch-container .option-container .color-option .co:hover {
  cursor: pointer;
}

main .big-container .paint-pad-container {
  height: 450px;
  width: 450px;
  display: flex;
  background-color: white;
  justify-content: center;
}

main .big-container .paint-pad-container .paint-pad {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

main .big-container .paint-pad-container .paint-pad .grid {
  height: 100%;
  width: 100%;
}

main .big-container .paint-pad-container .paint-pad .grid:hover {
  cursor: pointer;
}

main .details-container {
  padding: 1rem;
  display: flex;
  gap: 10px;
}

main .details-container p {
  font-family: "Comic Neue", cursive, sans-serif;
  font-size: 20px;
}

main .details-container .details {
  flex: 2;
}

main .details-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main .details-container .logo img {
  height: 40px;
  width: auto;
}

footer {
  background-color: rgb(33, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

footer p {
  color: rgb(228, 228, 228);
  font-family: "Comic Neue";
}/*# sourceMappingURL=style.css.map */
